# .github/workflows/metrics.yml
name: Build and Deploy Metrics

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate GitHub metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: myselftaimoor
          template: classic
          base: header, activity, community, repositories, metadata
          repositories_forks: no
          config_timezone: Asia/Karachi
          filename: github-metrics.svg
          output_action: commit
          committer_branch: main
          committer_message: "chore: update GitHub metrics"
